
@{
    ViewBag.Title = "LearnEnd";
}

<h2>No more words to learn</h2>

<div class="row">
    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>

