
@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top:5px">
    <div class="row panel-title" style="margin-top:5px"><a href="#">日米首脳 北朝鮮への圧力 最大限まで高めることで一致</a></div>
    <div class="row" style="margin-top:5px">
        <div class="col-md-2">Vocabulary: XX%</div>
        <div class="col-md-2">Grammar: XX%</div>
        <div class="col-md-2">Kanji: XX%</div>
    </div>
</div>

<div class="row" style="margin-top:5px">
    <div class="row panel-title" style="margin-top:5px"><a href="#">北朝鮮メディア「米が戦争の火ぶた切ろうとしている」と非難</a></div>
    <div class="row" style="margin-top:5px">
        <div class="col-md-2">Vocabulary: XX%</div>
        <div class="col-md-2">Grammar: XX%</div>
        <div class="col-md-2">Kanji: XX%</div>
    </div>
</div>

<div class="row" style="margin-top:5px">
    <div class="row panel-title" style="margin-top:5px"><a href="#">拉致被害者家族が記者会見「拉致問題を最優先で」</a></div>
    <div class="row" style="margin-top:5px">
        <div class="col-md-2">Vocabulary: XX%</div>
        <div class="col-md-2">Grammar: XX%</div>
        <div class="col-md-2">Kanji: XX%</div>
    </div>
</div>

