@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.ActionLink("Learn", "Learn", "Vocabulary", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>

<div class="row">
    @Html.ActionLink("Practice", "Practice", "Vocabulary", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>
